@model Site.DataAccess.Domain.Product_VM
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "AdminLayout/_AdminLayout";
}

<section class="section">
    <div class="section-header">
        <h1>@Localizer["Add Product"]</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">@Localizer["Dashboard"]</a></div>
            <div class="breadcrumb-item">@Localizer["Product"]</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="needs-validation" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="CategoryName">@Localizer["Category"]</label>
                                <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(@ViewBag.ListOfCategory,"Id","Name"))"></select>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Product Name"]</label>
                                <input type="text" asp-for="Name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Price"]</label>
                                <input type="text" asp-for="Price" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Quantity"]</label>
                                <input type="text" asp-for="Quantity" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Brand"]</label>
                                <input type="text" asp-for="Brand" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Upload Image"]</label>
                                <input asp-for="UploadImage" class="form-control">
                            </div>

                            <div class="card-footer">
                                <a asp-controller="Admin" asp-action="ProductIndex" class="btn btn-primary text-white">@Localizer["Back to List"]</a>
                                <button type="submit" class="btn btn-primary text-white">@Localizer["Add Product"]</button>

                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>