@model Site.DataAccess.Domain.AddStaff_VM;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "AdminLayout/_AdminLayout";
}

<section class="section">
    <div class="section-header">
        <h1>@Localizer["User"]</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">@Localizer["Dashboard"]</a></div>
            <div class="breadcrumb-item">@Localizer["User"]</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="needs-validation" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>@Localizer["Full Name"]</label>
                                <input type="text" asp-for="FullName" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Email"]</label>
                                <input type="email" asp-for="Email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Phone Number"]</label>
                                <input type="number" maxlength="10" asp-for="PhoneNo" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Address"]</label>
                                <input type="text" asp-for="Address" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Password"]</label>
                                <input type="password" asp-for="Password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Confirm Password"]</label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Upload Image"]</label>
                                <input asp-for="UploadImage" class="form-control" style="max-width:250px" ;>
                            </div>

                            <div class="card-footer">
                                <a asp-controller="Admin" asp-action="StaffIndex" class="btn btn-primary text-white">@Localizer["Back to List"]</a>
                                <button type="submit" class="btn btn-primary text-white">@Localizer["Add Staff"]</button>

                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>