@model IEnumerable<Site.DataAccess.Domain.Portal_User>;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "AdminLayout/_AdminLayout";

}

@section Css{
    <link href="~/css/page/customedatatable.css" rel="stylesheet" />
}

<!-- The Modal -->
<div id="changePasswordStaffModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Change Password"]</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="userId" name="staffId" value="" />
                <p><strong>@Localizer["User ID:"]</strong> <span id="staffIdDisplay"></span></p>
                <p><strong>@Localizer["User Name:"]</strong> <span id="staffNameDisplay"></span></p>
                <p><strong>@Localizer["Email Address:"]</strong> <span id="staffEmailDisplay"></span></p>
                <form id="changePasswordStaffForm">
                    <div class="form-group">
                        <label for="newPassword">@Localizer["New Password:"]</label>
                        <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmNewPassword">@Localizer["Confirm New Password:"]</label>
                        <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                <button type="submit" form="changePasswordStaffForm" class="btn btn-primary">@Localizer["Change Password"]</button>
            </div>
        </div>
    </div>
</div>



<section class="section">
    <div class="section-header">
        <h1>@Localizer["Staffs"]</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="https://localhost:44330/Admin/Index">@Localizer["Dashboard"]</a></div>
            <div class="breadcrumb-item">@Localizer["Staffs"]</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
                <div class="card">
                   
                        @if (@User.FindFirst("Role").Value == "Staff")
                        {
                            <a asp-controller="Admin" asp-action="AddStaff" class="btn btn-primary text-white" hidden>@Localizer["Add Staff"]</a>
                        }
                        else
                        {
                        <div class="card-header">
                            <a asp-controller="Admin" asp-action="AddStaff" class="btn btn-primary text-white">@Localizer["Add Staff"]</a>
                        </div>
                        }
                  

                    <div class="card-body table-responsive">
                        <table class="display table" id="example">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">@Localizer["Image"]</th>
                                    <th scope="col">@Localizer["Full Name"]</th>
                                    <th scope="col">@Localizer["Email"]</th>
                                    <th scope="col">@Localizer["Phone No"]</th>
                                    <th scope="col">@Localizer["Status"]</th>
                                    <th scope="col">@Localizer["Type"]</th>
                                     @if (@User.FindFirst("Role").Value == "Staff")
                                    {
                                        
                                    }
                                    else
                                    {
                                        <th scope="col">@Localizer["Action"]</th>
                                        <th scope="col">@Localizer["Change Password"]</th>
                                    }
            
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int sn = 1;
                                }

                                @foreach (var @item in Model)
                                {
                                    <tr>
                                        <td scope="col">@sn</td>
                                       
                                            <td scope="col"><img alt="image" src="@item.UploadImage" class=" mx-auto d-block" style="width: 60px; height: 70px;"></td>

                                        <td scope="col">@item.FullName</td>
                                        <td scope="col">@item.Email</td>
                                        <td scope="col">@item.PhoneNo</td>
                                        @if (item.RoleName == "Staff" && @User.FindFirst("Role").Value == "Staff")
                                        {
                                            @if (@item.Status == true)
                                            {
                                                <td scope="col"><span class="badge badge-success">@Localizer["Active"]</span></td>
                                            }
                                            else
                                            {
                                                <td scope="col"><span class="badge badge-danger">@Localizer["InActive"]</span></td>
                                            }
                                        }
                                        else
                                        {
                                            @if (@item.Status == true)
                                            {
                                                <td scope="col" contenteditable="false"><span class="badge badge-success">@Localizer["Active"]</span></td>
                                            }
                                            else
                                            {
                                                <td scope="col" contenteditable="false"><span class="badge badge-danger">@Localizer["InActive"]</span></td>
                                            }
                                        }

                                        <td scope="col">@item.RoleName</td>
                                        
                           
                                            @if (item.RoleName == "Staff" && @User.FindFirst("Role").Value == "Staff")
                                        {
                                           
                                                <span class="btn-group">
                                                    <a asp-controller="Admin" asp-action="ViewUserDetail" asp-route-id=@item.Id class="btn btn-primary text-white" hidden>@Localizer["View"]</a>
                                                </span>
                                                <span class="btn-group">
                                                    <a asp-controller="Admin" asp-action="UpdateStaff" asp-route-id=@item.Id class="btn btn-primary text-white" hidden>@Localizer["Update"]</a>
                                                </span>
                                             
                                            }
                                            else
                                            {
                                            <td scope="col">
                                                <span class="btn-group">
                                                    <a asp-controller="Admin" asp-action="ViewUserDetail" asp-route-id=@item.Id class="btn btn-primary text-white">@Localizer["View"]</a>
                                                </span>
                                                <span class="btn-group">
                                                    <a asp-controller="Admin" asp-action="Updatestaff" asp-route-id=@item.Id class="btn btn-primary text-white">@Localizer["Update"]</a>
                                                </span>
                                                    </td>
                                            }
                                         
                                            <span class="btn-group">
                                                @if (item.RoleName == "Staff" && @User.FindFirst("Role").Value == "Staff")
                                                {
                                                    <button class="btn btn-primary" onclick="openChangePasswordStaffModal('@item.Id', '@item.FullName','@item.Email')" hidden>@Localizer["Change Password"]</button>
                                                }
                                                else
                                                {
                                                      <td scope="col">
                                                    <button class="btn btn-primary" onclick="openChangePasswordStaffModal('@item.Id', '@item.FullName','@item.Email')">@Localizer["Change Password"]</button>
                                            </td>
                                                }
                                            </span>

                                        
                                    </tr>
                                    sn++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section Script {
    <script>
        function openChangePasswordStaffModal(staffId, staffName, staffEmail) {
            // Set the user ID and name in the respective spans of the modal
            $('#staffId').val(staffId);
            $('#staffIdDisplay').text(staffId);
            $('#staffNameDisplay').text(staffName);
            $('#staffEmailDisplay').text(staffEmail)

            // Show the change password modal
            $('#changePasswordStaffModal').modal('show');
        }

        // Submit the form within the modal using AJAX
        $('#changePasswordForm').submit(function (e) {
            e.preventDefault(); // Prevent the form from submitting normally

            // Get the form data
            var formData = {
                userId: $('#staffId').val(),
                newPassword: $('#newPassword').val(),
                confirmNewPassword: $('#confirmNewPassword').val()
            };

            // Check if the new password and confirm new password match
            if (formData.newPassword !== formData.confirmNewPassword) {
                alert('New password and Confirm new password do not match. Please try again.');
                return;
            }

            // Send the form data to the server using AJAX
            $.ajax({
                url: '/Admin/ChangePassword', // Update the URL to match the correct controller action
                method: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        alert('Password changed successfully!');
                        // Close the modal after successful password change
                        $('#changePasswordStaffModal').modal('hide');
                    } else {
                        alert('Failed to change password. Please check your current password.');
                    }
                },
                error: function () {
                    alert('An error occurred while changing password. Please try again later.');
                }
            });
        });

        $(function () {
            $('#example thead tr')
                //.clone(true)
                .addClass('filters')
                .appendTo('#example thead');

            var table = $('#example').DataTable({
                scrollX: false,
                orderCellsTop: true,
                fixedHeader: true,
                pagingType: 'simple', // Use simple pagination controls (only previous and next buttons)
                
                initComplete: function () {
                    var api = this.api();

                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            $(cell).html('<input type="text" placeholder="' + title + '" />');

                            // On every keypress in this input
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('change', function (e) {
                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();
                                })
                                .on('keyup', function (e) {
                                    e.stopPropagation();

                                    $(this).trigger('change');
                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },
            });
        })
    </script>

}