@model Site.DataAccess.Domain.Product;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "AdminLayout/_AdminLayout";
}

<section class="section">
    <div class="section-header">
        <h1>Update Product</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">@Localizer["Dashboard"]</a></div>
            <div class="breadcrumb-item">User</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="needs-validation">

                            <div class="form-group">
                                <label asp-for="CategoryId">@Localizer["Category"]</label>
                                <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(@ViewBag.ListOfCategory, "Id", "Name", ViewBag.SelectedCategoryId))">
                                  
                                </select>
                            </div>

                            <div class="form-group">
                                <label>@Localizer["Product Name"]</label>
                                <input type="text" asp-for="Name" class="form-control" required>
                            </div>
                            <input type="text" asp-for="Id" class="form-control" required value="@Model.Id" hidden>
                            <div class="form-group">
                                <label>@Localizer["Price"]</label>
                                <input type="number" asp-for="Price" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Quantity"]</label>
                                <input type="number" asp-for="Quantity" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Brand"]</label>
                                <input type="text" asp-for="Brand" class="form-control" required>
                            </div>
                        
                            <div class="chocolat-parent">
                                <label>@Localizer["Image"]</label>
                                <div data-crop-image="300" style="overflow: hidden; position: relative; height: 300px;">
                                    @if (Model.UploadImage != null)
                                    {
                                        <img alt="image" src="@Model.UploadImage" class="img-fluid">
                                       
                                    }
                                    else
                                    {
                                        <span>@Localizer["No image available"]</span>
                                    }
                                </div>
                            </div>

                            <div class="card-footer">
                                <a asp-controller="Admin" asp-action="Productindex" class="btn btn-primary text-white">@Localizer["Back to List"]</a>
                                <button type="submit" class="btn btn-primary text-white">@Localizer["Update Staff"]</button>

                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>