@model Site.DataAccess.Domain.Portal_User;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "AdminLayout/_AdminLayout";
}

<section class="section">
    <div class="section-header">
        <h1>@Localizer["User"]</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">@Localizer["Dashboard"]</a></div>
            <div class="breadcrumb-item">@Localizer["User"]</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>@Localizer["Full Name"]</label>
                            <input asp-for="FullName" class="form-control"readonly>
                        </div>
                        <div class="form-group">
                            <label>@Localizer["Email"]</label>
                            <input asp-for="Email" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label>@Localizer["Phone Number"]</label>
                            <input asp-for="PhoneNo" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label>@Localizer["Address"]</label>
                            <input asp-for="Address" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label>@Localizer["User Type"]</label>
                            <input asp-for="RoleName" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                 
                            <input asp-for="Id" class="form-control" hidden>
                        </div>
                @*         <div class="form-group">
                            <label>Uploaded Document</label>
                        </div> *@
                        @* <div class="chocolat-parent">

                            <div data-crop-image="500" style="overflow: hidden; position: relative; height: 500px;">
                                <img alt="image" src="@Model.UploadFile" class="img-fluid">
                            </div> *@
                        </div>
                    </div>
                    <div class="card-footer">
                    <a asp-controller="Admin" asp-action="StaffIndex" class="btn btn-primary text-white">@Localizer["Back to List"]</a>
                        @if (Model.Status)
                        {
                        <a asp-controller="Admin" asp-action="DisableUserDetail" asp-route-id="@Model.Id" class="btn btn-primary text-white">@Localizer["Disable"]</a>
                        }
                        else
                        {
                        <a asp-controller="Admin" asp-action="VerifyUserDetail" asp-route-id="@Model.Id" class="btn btn-primary text-white">@Localizer["Verify"]</a>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>