@model Site.DataAccess.Domain.Sale
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintSale</title>
    <style>
        .contenedor {
           width: 900px !important;
           height:842px !important;
           margin:auto;
        }
        body{
           font-family:Arial, Helvetica, sans-serif
        }
        p.title{
           font-weight:bold;
        }
         p.title2{
          
            color: black;
           font-size:15px;
        }
        p.text{
           font-size:15px;
           font-weight:100;
           color:#858585;
        }
        p{
           margin:0px
        }
        .tbth{
           text-align:left;
        }

        table.tbproductos{
            border-collapse: separate;
            border-spacing: 4px;
        }

        table.tbproductos thead tr th {
                background-color: darkblue;
           padding:10px;
           font-size:15px;
           color:white;
        }
        table.tbproductos tbody tr td{
           padding:10px;
        }
        .item{
           font-size:15px;
           font-weight:100;
           color:#757575;
        }
        .item-2{
        font-size:15px;
           font-weight:bold;
           color:#757575;
        }

        .item-3{
           font-size:15px;
           font-weight:bold;
            background-color: darkblue;
           color:white;
        }

         .td-item {
           border-bottom:2px solid #E8E8E8 !important;
         }
    </style>
</head>
<body >

    <div class="contenedor">
       
        <table style="width:100%">
            <tr>
                <td>
                    <img src="~/img/logomilijuli.png" style="width: 160px;height:120px"/>
                </td> 

                
            </tr>
        </table>
        <br />
         <table style="width:100%">
            <tr>
                <td>
                    <table >
                        <tr>
                            <td>
                                <p class="title">Milijuli Furniture</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="text">Address: Street:  Chanauli, Chitwan</p></td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Email: milijulifurniture@gmail.com</p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="text-align:right">
                  
                                <table style="margin-right:0;margin-left:auto">
                               
                                    <tr>
                                 
                                        <td><p class="title2">Sale Number: </p></td>
                                        <td><span style="font-weight: bold; ">@Model.SaleNumber</span></td>
                                    </tr>
                                </table>

                                <table style="margin-right:0;margin-left:auto">
                                    <tr>
                                        <td><p class="title2">Date: </p></td>
                                        <td><span style="font-weight: bold;">@Model.RegistrationDate</span></td>
                                    </tr>
                                </table>
                                <table style="margin-right:0;margin-left:auto">
                        <tr>
                            <td><p class="title2">Bill To:</p></td>
                            <td><span style="font-weight: bold;">@Model.ClientName</span></td>
                            @*  <td><p class="title">CLIENT</p></td> *@
                        </tr>


                                    @*  <tr>
                                    <td>Sold By: <span class="text">@Model.CustomerDocument</span></td>
                                    </tr> *@
                                </table>

                            </td>
                        </tr>
                    </table>
         
        <br />
        <br />

        <table class="tbproductos" style="width:100%">
            <thead>
                <tr>
                    <th class="tbth">Furniture</th>
                    <th class="tbth" style="width:130px">Quantity</th>
                    <th class="tbth" style="width:130px">Price</th>
                    <th class="tbth" style="width:130px">Total</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.DetailSales)
                    {
                        <tr>
                            <td class="td-item"><p class="item">@item.DescriptionProduct</p></td>
                            <td class="td-item"><p class="item">@item.Quantity</p></td>
                            <td class="td-item"><p class="item">Rs @item.Price</p></td>
                            <td style="background-color:#EDF6F9"><p class="item">Rs @(item.Quantity * item.Price)</p></td>
                        </tr>

                    }
                }
                <tr>
                    <td colspan="2" rowspan="3">
                    </td>
                    <td  class="td-item">
                        <p class="item-2">Sub Total</p>
                    </td>
                     <td class="item-3">
                         <p>Rs @Model.Subtotal</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-item">
                        <p class="item-2" >Discount(%)</p>
                    </td>
                     <td class="item-3">
                         <p> @Model.TotalTaxes</p>
                    </td>
                </tr>
                 <tr>
                    <td class="item-3">
                        <p >Total</p>
                    </td>
                     <td class="item-3">
                         <p>Rs @Model.Total</p>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>

</body>
</html>


