@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "NewSale";
    Layout = "AdminLayout/_AdminLayout";
}


@section plugins_css {
    <link href="~/vendors/select2/css/select2.min.css" rel="stylesheet">
    <link href="~/vendors/sweetalert/sweetalert.css" rel="stylesheet" />
    <style>
        .select2 {
            width: 100% !important;
        }


      

    </style>
}

<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h4>@Localizer["New Sale"]</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                          
                          @*   <div class="form-group col-sm-6">
                                <label for="txtDocumentClient">@Localizer["document number"]</label>
                                <input type="text" class="form-control form-control-sm" id="txtDocumentClient" placeholder="@Localizer["document number"]">
                            </div> *@
                            <div class="form-group col-sm-6">
                                <label for="txtNameClient">@Localizer["Customer Name"]</label>
                                <input type="text" class="form-control form-control-sm" id="txtNameClient" placeholder="@Localizer["full name"]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h4>@Localizer["Products"]</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <select class="form-control form-control-sm" id="cboSearchProduct">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-sm" id="tbProduct">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>@Localizer["Product"]</th>
                                            <th>@Localizer["Quantity"]</th>
                  @*                           <th>Quantity</th> *@
                                            <th>@Localizer["Price"]</th>
                                            <th>@Localizer["Total"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-4">

        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h4>@Localizer["Detail"]</h4>
                    </div>
                    <div class="card-body">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="cboTypeDocumentSale">@Localizer["Type"]</label>
                            </div>
                            <select class="form-control" id="cboTypeDocumentSale">
                            </select>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupSubTotal">@Localizer["Sub Total"]</span>
                            </div>
                            <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupSubTotal" id="txtSubTotal" disabled>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupIGV">@Localizer["Discount(%)"]</span>
                            </div>
                            <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupIGV" id="txtTotalTaxes">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupTotal">@Localizer["Total"]</span>
                            </div>
                            <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupTotal" id="txtTotal" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="form-group mb-0">
                            <button class="btn btn-success btn-sm btn-block" id="btnFinalizeSale">@Localizer["Finalize Sale"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--  Modal-->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>@Localizer["Sale Detail"]</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtRegistrationDate">@Localizer["Registration date"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtRegistrationDate" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtSaleNumber">@Localizer["Sale Number"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtSaleNumber" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtRegisterUser">@Localizer["Register User"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtRegisterUser" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtDocumentType">@Localizer["Document Type"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtDocumentType" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtClientDocument">@Localizer["Customer Document"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtClientDocument" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtClientName">@Localizer["Customer Name"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtClientName" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtSubTotal">@Localizer["Sub Total"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtSubTotal" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtTaxes">@Localizer["Taxes"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTaxes" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtTotal">@Localizer["Total"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTotal" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="tbProducts" class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>@Localizer["Product"]</th>
                                                <th>@Localizer["Quantity"]</th>
                                                <th>@Localizer["Price"]</th>
                                                <th>@Localizer["Total"]</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" target="_blank" id="linkPrint">@Localizer["Print"]</a>
                <button class="btn btn-danger" type="button" data-dismiss="modal">@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>

@section Script {

    <script src="~/vendors/select2/js/select2.js"></script>
    <script src="~/vendors/sweetalert/sweetalert.js"></script>
    <script src="~/js/views/SalesNewSale.js"></script>
}

