@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "SalesHistory";
    Layout = "AdminLayout/_AdminLayout";
}


@section page_js {
    <link href="~/vendors/jquery-ui/jquery-ui.css" rel="stylesheet">
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6>@Localizer["Sale Record"]</h6>


    </div>
    <div class="card-body">
        <div class="form-row align-items-end">
            <div class="form-group col-sm-3">
                <label for="cboSearchBy">@Localizer["Search by"]</label>
                <select class="form-control" id="cboSearchBy">
                    <option value="date">@Localizer["Dates"]</option>
                    <option value="number">@Localizer["Sale Number"]</option>
                </select>
            </div>
            <div class="form-group col-sm-3 search-date">
                <label for="txtStartDate">@Localizer["Start Date"]</label>
                <input type="text" class="form-control" id="txtStartDate">
            </div>
            <div class="form-group col-sm-3 search-date">
                <label for="txtEndDate">@Localizer["End Date"]</label>
                <input type="text" class="form-control" id="txtEndDate">
            </div>
            <div class="form-group col-sm-3 search-sale">
                <label for="txtSaleNumberSearch">@Localizer["Sale Number"]</label>
                <input type="text" class="form-control" id="txtSaleNumberSearch">
            </div>
            <div class="form-group col-sm-3">
                <button class="btn btn-success btn-block" type="button" id="btnSearch"><i class="fas fa-search"></i>@Localizer["Search"]</button>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped" id="tbsale">
                    <thead>
                        <tr>
                            <th>@Localizer["Registration Date"]</th>
                            <th>@Localizer["Sale Number"]</th>
                            <th>@Localizer["Payment Type"]</th>
                            <th>@Localizer["Customer Name"]</th>
                            <th>@Localizer["Total"]</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!--  Modal-->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Sale Detail</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtRegistrationDate">@Localizer["Registration Date"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtRegistrationDate" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtSaleNumber">@Localizer["Sale Number"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtSaleNumber" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtRegisterUser">@Localizer["User Name"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtRegisterUser" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtDocumentType">@Localizer["Payment Type"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtDocumentType" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtClientName">@Localizer["Customer Name"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtClientName" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtSubTotal">@Localizer["Sub Total"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtSubTotal" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtTaxes">@Localizer["Discount(%)"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTaxes" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtTotal">@Localizer["Total"]</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTotal" disabled>
                                </div>
                               
                             
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="tbProducts" class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>@Localizer["Product"]</th>
                                                <th>@Localizer["Quantity"]</th>
                                                <th>@Localizer["Price"]</th>
                                                <th>@Localizer["Discount(%)"]</th>
                                                <th>@Localizer["Total"]</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" target="_blank" id="linkPrint">@Localizer["Print"]</a>
                <button class="btn btn-danger" type="button" data-dismiss="modal">@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>

@section Script {

    <script src="~/vendors/jquery-ui/jquery-ui.js"></script>

    <script src="~/js/views/SalesHistorySale.js"></script>
}