@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "SalesTypeHistory";
    Layout = "AdminLayout/_AdminLayout";
}


@section plugins_css {
    <link href="~/vendors/datatables.net/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/vendors/jquery-ui/jquery-ui.css" rel="stylesheet">
    <link href="~/vendors/datatables.net/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/vendors/datatables.net/responsive.datatables.min.css" rel="stylesheet" />
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6>@Localizer["Sale Record"]</h6>
    </div>
    <div class="card-body">
        <div class="form-row align-items-end">
            <div class="form-group col-sm-3">
                <label for="cboSearchBy">Search by</label>
                <select class="form-control" id="cboSearchBy">
                    <option value="date">@Localizer["Dates"]</option>
                    <option value="number">@Localizer["Payment Type"]</option>
                </select>
            </div>
            <div class="form-group col-sm-3 search-date">
                <label for="txtStartDate">@Localizer["Start Date"]</label>
                <input type="text" class="form-control" id="txtStartDate">
            </div>
            <div class="form-group col-sm-3 search-date">
                <label for="txtEndDate">@Localizer["End Date"]</label>
                <input type="text" class="form-control" id="txtEndDate">
            </div>
            <div class="form-group col-sm-3 search-sale">
                <label for="txtSaleNumberSearch">@Localizer["Sale Type"]</label>
                <select class="form-control" id="txtSaleNumberSearch">
                    <option value="">@Localizer["Select From Here..."]</option>
                    <option value="1">@Localizer["Online Payment"]</option>
                    <option value="2">@Localizer["Offline Payment"]</option>
                </select>
            </div>

            <div class="form-group col-sm-3">
                <button class="btn btn-success btn-block" type="button" id="btnSearch"><i class="fas fa-search"></i>@Localizer["Search"]</button>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped" id="tbsale">
                    <thead>
                        <tr>
                           
                            <th>@Localizer["Sale Number"]</th>
                            <th>@Localizer["Customer Name"]</th>
                              <th>@Localizer["Total"]</th>
                            <th>@Localizer["Registration Date"]</th>

                 
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>



@section Script {
    <script src="~/vendors/datatables.net/jquery.datatables.js"></script>
    <script src="~/vendors/datatables.net/datatables.bootstrap4.min.js"></script>
    <script src="~/vendors/datatables.net/datatables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net/jquery.datatables.min.js"></script>
    <script src="~/vendors/datatables.net/datatables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net/buttons.bootstrap4.min.js"></script>
    <script src="~/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendors/datatables.net/datatables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net/jszip.min.js"></script>

    <script src="~/js/views/SalesTypeHistory.js"></script>
}