@using System.Threading
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewData["Title"] - MilijuliFurniture</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="~/css/nepali.datepicker.v4.0.1.min.css" rel="stylesheet" type="text/css" />

    <!-- CSS Libraries -->
    @await RenderSectionAsync("plugins_css", required: false)

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/admin/css/style.css">
    <link rel="stylesheet" href="~/admin/css/components.css">
    <link href="~/vendors/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="~/vendors/toastr/toastr.css" rel="stylesheet">
</head>
<!-- The Modal -->

<div id="changePasswordAdminModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Change Password"]</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="userId" name="userId" value="" />
                <p><strong>@Localizer["User ID:"]</strong> <span id="userIdDisplay"></span></p>
                <p><strong>@Localizer["User Name:"]:</strong> <span id="userNameDisplay"></span></p>
                <p><strong>@Localizer["Email Address:"]:</strong> <span id="userEmailDisplay"></span></p>
                <form id="changePasswordAdminForm">
                    <div class="form-group">
                        <label for="newPassword">@Localizer["New Password:"]</label>
                        <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmNewPassword">@Localizer["Confirm New Password:"]</label>
                        <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                <button type="submit" form="changePasswordAdminForm" class="btn btn-primary">@Localizer["Change Password"]</button>
            </div>
        </div>
    </div>
</div>
<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg" style="background-color:darkblue"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                    </ul>
                </form>
                <ul class="navbar-nav navbar-right" style="font-size: 20px;">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle dropdown-toggle-admin nav-link-lg nav-link-user">
                            <img alt="image" src="" class="mr-1 userlogo" style="width: 40px; height: 35px;">

                            <div class="d-sm-none d-lg-inline-block">Hi, @User.Identity.Name </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-admin dropdown-menu-right">
                             @if (@User.FindFirst("Role").Value == "Staff")
                                {
                            <a asp-controller="User" asp-action="Logout" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> @Localizer["Logout"]
                            </a>
                                }
                                 else
                                {
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item has-icon text-information" href="#">
                               
                                
                               
                                    <i class="fas fa-duotone fa-key" onclick="openChangePasswordAdminModal('@User.Claims.FirstOrDefault(c => c.Type == "UserId")?.Value', '@User.Identity.Name','@User.FindFirst("Email")')">&nbsp;&nbsp;@Localizer["Change Password"]</i>
                                
                            </a>

                            <div class="dropdown-divider" style="border-color: black;"></div>
                            <a asp-controller="User" asp-action="Logout" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> @Localizer["Logout"]
                            </a>
                            }
                        </div>
                    </li>

                    @* partial view for culture switch *@
                    @await Html.PartialAsync("_SelectCulture")
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <partial name="menu.cshtml" />
                </aside>
            </div>
            <div class="main-content">
                @RenderBody()
            </div>


            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; <span id="copyrightYear"></span> Milijuli Furniture.
                </div>
            </footer>

            <script>
                // Get the current year
                var currentYear = new Date().getFullYear();
                // Set the year in the footer
                document.getElementById("copyrightYear").innerText = currentYear;
            </script>


        </div>
    </div>
    <script src="~/vendors/sweetalert/sweetalert.js"></script>

    <script src="~/js/site.js"></script>
    <script src="~/admin/js/stisla.js"></script>
    <script src="~/admin/js/scripts.js"></script>
    <script src="~/admin/js/custom.js"></script>
    <script src="~/js/nepali.datepicker.v4.0.1.min.js" type="text/javascript"></script>
    <script src="~/vendors/toastr/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            var userId = '@User.Claims.FirstOrDefault(c => c.Type == "UserId")?.Value'; // Retrieve the user ID
            $.ajax({
                url: '/User/GetuserImage',
                type: 'GET',
                dataType: 'json',
                data: { userId: userId },
                success: function (data) {
                    console.log(data);
                    if (data.UploadDocuments) {
                        $('.userlogo').attr('src', data.UploadDocuments);
                    } else {
                        console.error('Image URL not found in data');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
        function openChangePasswordAdminModal(userId, userName, email) {
            // Set the user ID and name in the respective spans of the modal

            $('#userId').val(userId);
            $('#userIdDisplay').text(userId);
            $('#userNameDisplay').text(userName);
            $('#userEmailDisplay').text(email)

            // Show the change password modal
            $('#changePasswordAdminModal').modal('show');
        }

        // Submit the form within the modal using AJAX
        $('#changePasswordAdminForm').submit(function (e) {
            e.preventDefault(); // Prevent the form from submitting normally

            // Get the form data
            var formData = {
                userId: $('#userId').val(),
                newPassword: $('#newPassword').val(),
                confirmNewPassword: $('#confirmNewPassword').val()
            };

            // Check if the new password and confirm new password match
            if (formData.newPassword !== formData.confirmNewPassword) {
                alert('New password and Confirm new password do not match. Please try again.');
                return;
            }

            // Send the form data to the server using AJAX
            $.ajax({
                url: '/Admin/ChangePassword', // Update the URL to match the correct controller action
                method: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        alert('Password changed successfully!');
                        // Close the modal after successful password change
                        $('#changePasswordAdminModal').modal('hide');
                    } else {
                        alert('Failed to change password. Please check your current password.');
                    }
                },
                error: function () {
                    alert('An error occurred while changing password. Please try again later.');
                }
            });
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/dist/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>
    <script src="~/vendors/loadingoverlay/loadingoverlay.min.js"></script>

    @await RenderSectionAsync("plugins_js", required: false)
    @await RenderSectionAsync("page_js", required: false)
    @await RenderSectionAsync("Script", required: false)
    @await RenderSectionAsync("Css", required: false)
@*     @await Component.InvokeAsync("NToastNotify")
 *@    @await Component.InvokeAsync("Notyf")
</body>
</html>
