@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/admin/css/custom.css">
<style>
    .main-sidebar .sidebar-menu li.active a {
        color: black
    }

    body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a {
        box-shadow: 0 4px 8px #acb5f6;
        background-color: darkblue;
        color: #fff;
    }

    .main-sidebar .sidebar-menu li.menu-header {
        color: darkblue
    }

    body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li.active > a:before {
        background-color: darkblue
    }

    .govlogo {
        height: 70px;
        width: 230px;
    }

    .reslogo {
        height: 60px;
        width: 60px;
    }
</style>
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a asp-controller="Admin" asp-action="index" style="padding-bottom:10px; display:flex;"><img src="~/img/idmlogo1.jpg" class="govlogo" /></a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a asp-controller="Home" asp-action="index"><img src="~/img/sanoIdm.JPG" class="reslogo" /></a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">@Localizer["Dashboard"]</li>
            <li class="active">
                <a asp-controller="Admin" asp-action="Index" class="nav-link"><i class="fas fa-tachometer-alt"></i><span>@Localizer["Dashboard"]</span></a>
            </li>
            <li class="active">
                <a asp-controller="Admin" asp-action="AppliedVacancy" class="nav-link"><i class="fas fa-table"></i><span>@Localizer["Applied Vacancy"]</span></a>
            </li>
            <li class="active">
                <a asp-controller="Admin" asp-action="VacancyIndex" class="nav-link"><i class="fas fa-table"></i><span>@Localizer["Vacancy"]</span></a>
            </li>
            <li class="menu-header">@Localizer["Settings"]</li>
            <li class="active">
                <a asp-controller="Admin" asp-action="UserIndex" class="nav-link"><i class="fas fa-users"></i><span>@Localizer["Users"]</span></a>
            </li>
            <li class="active">
                <a asp-controller="Admin" asp-action="StaffIndex" class="nav-link"><i class="fas fa-user-tie"></i><span>@Localizer["Staffs"]</span></a>
            </li>
            <li class="menu-header">Reports</li>
            <li class="active">
                <a asp-controller="Admin" asp-action="GetReport" class="nav-link"><i class="fa fa-file"></i><span>@Localizer["Report"]</span></a>
            </li>
            <li class="active">
                <a asp-controller="Admin" asp-action="CategoryIndex" class="nav-link"><i class="fa fa-file"></i><span>@Localizer["Category"]</span></a>
            </li>
            <li class="active">
                <a asp-controller="Admin" asp-action="QuotaReport" class="nav-link"><i class="fa fa-file"></i><span>@Localizer["Quota Report"]</span></a>
            </li>
            <li class="active">
                <a asp-controller="Admin" asp-action="GetSummaryReport" class="nav-link"><i class="fa fa-file"></i><span>@Localizer["Quota Summary Report"]</span></a>
            </li>
        </ul>
    </aside>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>